<h1>Comparaison Chrono-généalogique</h1>


<% if @form %>

<h3>Données...</h3>
<ul>
<li>Chronologie selectionée (bleu) : <%= @history.title %></li>
<li> Fichier Gedcom parsé (rouge) : <%= @path %></li>
</ul>	

<h3>Statistiques du parsing Gedcom...</h3>
<%= render 'parselog'  %>

<h3>Résultats comparés</h3>
<table>
	<tr>
		<td>
			<ol>
			<% @all.each do |pers| %>
			   <li>
			   	<font color=<%= pers[:textColor]%>>
				<span>
					<% if pers[:link] %>
                     <%= link_to pers[:title], history_path(pers[:link]) %>

					<% else %>
						<%= pers[:title] %>
					<% end %>
                </span>			  	
			  	<span><%= pers[:start] ? " | "+pers[:start].strftime("%d %b %Y") : "" %></span>
			  	<span><%= pers[:end] ? " | "+pers[:end].strftime("%d %b %Y") : ""%></span>
			  	<span><%= pers[:place] ? " | "+pers[:place] : "" %></span>
			   </font>
			   </li>
			<% end %>
			</ol>
		</td> 
	</tr>
</table>


<% else %> 

<%= form_tag genealogy_static_pages_path, multipart: true, class: "nifty_form" do %>  

<%= file_field_tag :file %>
  <%= select_tag(:history_id, options_from_collection_for_select(History.where(approved: true), :id, :title))  %> 

  <%= submit_tag "Import" , class: "btn btn-large btn-primary" %>
<% end %>


<% end %>
