<h1>Parse Gedcom</h1>

<% if @form %>
<p>
Fichier <%= @path %><br>
Nous avons trouver <%= @pers%> personnes dans la genealogie<br>
Nous avons analysé <%= @lines %> lignes<br>

<% if @debug.length > 0 %> 
	<ul>
		<% @debug.each do |error|%>
			<li>Ligne :<%= error[:line] %> : <%= error[:content] %> </li>
		 <% end %>
	</ul>
<% end %>

<% if @date_log.length > 0 %> 
	Il y a  <%= @date_log.length %> erreurs sur le format de la date, aux lignes :
	<ul>
		<% @date_log.each do |error|%>
			<li>Ligne :<%= error[:line] %> : <%= error[:date] %> </li>
		 <% end %>
	</ul>
<% end %>
</p>

<table>
	<tr>
		<td>
			<ol>
			<% @all.each do |pers| %>
			   <li>
			   	<font color=<%= pers[:textColor]%>>
				<span>

					<% if pers[:link] %>
                     <%= link_to pers[:title], history_path(pers[:link]) %>

					<% else %>
						<%= pers[:title] %>
					<% end %>



                </span>
			  	


			  	<span><%= pers[:start] %></span>
			  	<span><%= pers[:end] %></span>
			  	<span><%= pers[:place] %></span>
			  	<span><%= pers[:durationEvent] %></span>
			   </font>
			   </li>
			<% end %>
			</ol>
		</td> 
	</tr>
</table>


<% else %> 

<%= form_tag genealogy_static_pages_path, multipart: true  do %>
  <%= select_tag(:history1_id, options_from_collection_for_select(History.where(approved: true), :id, :title))  %> 
  <span class="btn btn-default btn-file"> Selectionnez un Gedcom <%= file_field_tag :file %></span><br>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" , class: "btn btn-large btn-primary" %>
<% end %>


<% end %>
