<div class="jumbotron">
<h1>Welcome to KRONOFIL</h1>
<p>This is the home page for KRONOFIL application</p>
</div>


<h2>Les dernieres Histoires validées...</h2>

    <table>
      <tr> 
        <th>Titre</th>
        <th></th>
      </tr>
    <% @histories_block_five.each do |histo| %>
      <tr>
        <td><%= histo.title%> (<%= histo.events.count %> évènements)</td>
        <td><%= link_to 'Show', histo %></td>     
        <td><%= link_to 'Timeline', timeline_history_path(histo) %></td>  
      </tr>
      <% end %>
    </table>


<h2>Les dernieres Evènement validés...</h2>

    <table>
      <tr> 
      <th>Titre</th>
        <th></th>
      </tr>
    <% @events_block_five.each do |event| %>
      <tr>
        <td><%= event.title %>  (<%= event.histories.count %> histoires)</td>
        <td><%= link_to 'Show', event %></td>      
      </tr>
      <% end %>
    </table>

<h2>Les dernières généalogies publiée...</h2>

    <table>
      <tr> 
      <th>Titre</th>
        <th></th>
      </tr>
    <% @gedcoms_block_five.each do |gedcom| %>
      <tr>
        <td><%= gedcom.name %></td>
        <td><%= link_to 'Show', gedcom %></td> 
      </tr>
      <% end %>
    </table>



<% if signed_in? %>


<h2> CONTRIB : Toutes mes histoires</h2>

    <table>
      <tr>
        <th>Status</th>
        <th>Title</th>
        <th>Description</th>
        <th></th>
        <th></th>
      </tr>

  <% @histories_block_contrib.each do |histo| %>
      <tr>
        <td><%= histo.approved ? '[Approved]' : '[Not approved]'%></td> 
        <td><%= histo.title %>  (<%= histo.events.count %> évènements)</td>
        <td><%= link_to 'Show', histo %></td>
        <td><%= link_to ' | Edit', edit_history_path(histo) %></td> 
          <% if !histo.approved || current_user.admin %> 
 <td><%= link_to ' | Destroy', histo, confirm: 'Are you sure?', method: :delete %></td>
          <% end %>
      </tr>
      <% end %>
    </table>

<h2> CONTRIB : Toutes mes Gedcoms</h2>

    <table>
      <tr>
        <th>Status</th>
        <th>Title</th>
        <th></th>
        <th></th>
      </tr>

  <% @gedcoms_block_contrib.each do |gedcom| %>
      <tr>
        <td><%= gedcom.public ? '[Public]' : '[Privé]'%></td> 
        <td><%= gedcom.name %> </td>
        <td><%= link_to 'Show', gedcom %></td>
        <td><%= link_to ' | Destroy', gedcom, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
      <% end %>
    </table>


	<% if current_user.admin %>  


  <h2>ADMIN : (<%= @gedcoms_block_admin.count %>) Gedcom </h2>

     <table>
      <tr>
        <th>User</th>
        <th>Status</th>
        <th>Validation</th>
        <th>Nom</th>
        <th>Description</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

  <% @gedcoms_block_contrib.each do |gedcom| %>
      <tr>
        <td><%= gedcom.user.name %></td> 
        <td><%= gedcom.public ? '[Public]' : '[Privé]'%></td> 
        <td><%= gedcom.approved ? '[Approved]' : '[Not approved]'%></td> 
        <td><%= gedcom.name %> </td>
         <td><%= gedcom.description %> </td>
        <td><%= link_to 'Show', gedcom %></td>
        <td><%= link_to ' | Edit', edit_gedcom_path(gedcom) %></td>
        <td><%= link_to ' | Destroy', gedcom, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
      <% end %>
    </table>



	<h2>ADMIN : (<%= @histories_block_admin.count %>) Histoires </h2>

    <table>
      <tr>
        <th>Status</th>
        <th>Proprio</th>
        <th>Titre</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
	<% @histories_block_admin.each do |histo| %>
      <tr>
        <td><%= histo.approved ? '[Approved]' : '[Not approved]'%></td> 
        <td>[<%= histo.user ? histo.user.name : 'Nil' %>]</td>
        <td><%= histo.title %>  (<%= histo.events.count %> évènements)</td>
        <td><%= link_to 'Show | ', histo %></td>
        <td><%= link_to 'Edit | ', edit_history_path(histo) %></td> 
        <td><%= link_to approve_link_text(histo), toggle_approve_user_path(histo), :remote => true, :id => "approve_link_#{histo.id}" %></td> 
        <td><%= link_to ' | Destroy', histo, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
      <% end %>
    </table>




  <h2>ADMIN : (<%= @events_block_admin.count %>) Evènements</h2>

    <table>
      <tr>
        <th>Status</th>
        <th>Proprio</th>
        <th>Titre</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
  <% @events_block_admin.each do |event| %>
      <tr>
        <td><%= event.approved ? '[Approved]' : '[Not approved]'%></td> 
        <td>[<%= event.user ? event.user.name : 'Nil' %>]</td>
        <td><%= event.title %></td>
         <td><%= link_to 'Show | ', event %></td>
        <td><%= link_to 'Edit | ', edit_event_path(event) %></td> 
        <td><%= link_to approve_link_text(event), toggle_approve_user_path(event), :remote => true, :id => "approve_link_#{event.id}" %></td> 
        <td><%= link_to ' | Destroy', event, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
      <% end %>
    </table>





  <h2>ADMIN : Inlcusion à valider</h2>

    <table>
      <tr>
        <th>Titre Histoire</th>
        <th>Titre Evenement</th>
        <th></th>
        <th></th>
      </tr>
  <% @registres_block_admin.each do |registre| %>
      <tr>
        <td>
          <% if registre.history %>
          <%= link_to registre.history.title, edit_history_path(registre.history )%>
          <% end %>
        </td>
        <td><%= link_to registre.event.title,  registre.event %></td>
        <td><%= link_to approve_link_text(registre), toggle_approve_registre_path(registre), :remote => true, :id => "approve_link_#{registre.id}" %></td> 
        <td><%= link_to ' | Destroy', registre, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
      <% end %>
    </table>




	<% end %>



<% end %>





