<h1>Comparaison Chrono-généalogique</h1>

<%= render 'compareHisGedForm' %>

<% if @resu %>

<h3>Données...</h3>
<ul>
<li>Chronologie selectionée (bleu) : <%= @history.title %></li>
<li> Fichier Gedcom parsé (rouge) : <%= @gedcom.name%></li>
</ul>	

<h3>Statistiques du parsing Gedcom...</h3>
<%= render 'parselog'  %>

<h3>Résultats comparés</h3>
<table>
	<tr>
		<td>
			<ol>
			<% @resu.each do |evt| %>
			   <li>
			   	<font color=<%= evt[:textColor]%>>
				<span>
					<% if evt[:link] %>
                     <%= link_to evt[:title], evt[:link] %>

					<% else %>
						<%= evt[:title] %>
					<% end %>
                </span>			  	
			  	<span><%= evt[:start] ? " | "+evt[:start].strftime("%d %b %Y") : "" %></span>
			  	<span><%= evt[:end] ? " | "+evt[:end].strftime("%d %b %Y") : ""%></span>
			  	<span><%= evt[:place] ? " | "+evt[:place] : "" %></span>
			   </font>
			   </li>
			<% end %>
			</ol>
		</td> 
	</tr>
</table>

<% end %>
