

<h1>Comparaison Chrono-généalogique</h1>

<%= render 'compareHisGedForm' %>


<% if @resu %>

    <div class="panel panel-success panelrow">
      <div class="panel-heading">
        <h3>Résultats comparés</h3>
      </div>
      <div class="panel-body">

			<ol>
				<% @resu.each do |evt| %>
				<li>
					<font color=<%= evt[:textColor]%>>
						<span>
							<% if evt[:link] %>
								<%= link_to evt[:title], evt[:link] %>
							<% else %>
								<%= evt[:title] %>
							<% end %>

							<% if evt[:ged] %> <!-- gedcom -->

								<% if evt[:sex] =~ /f/i %> 
									<%= evt[:start] ? " | Née le "+evt[:start].strftime("%d %b %Y") : "" %>
									<%= evt[:place] ? " à "+evt[:place] : "" %>
									<%= evt[:end] ? " | Décédée le "+evt[:end].strftime("%d %b %Y") : ""%>
								<% else %>
									<%= evt[:start] ? " | Né le "+evt[:start].strftime("%d %b %Y") : "" %>
									<%= evt[:place] ? " à "+evt[:place] : "" %>
									<%= evt[:end] ? " | Décédé le "+evt[:end].strftime("%d %b %Y") : ""%>
								<% end %>
							

							<% else %>				<!-- history -->
								<%= evt[:start] ? " | Du "+evt[:start].strftime("%d %b %Y") : "" %>
								<%= evt[:end] ? "  au "+evt[:end].strftime("%d %b %Y") : ""%>
								<%= evt[:place] ? " à "+evt[:place].split(',').last : "" %>
							<% end %>
						</span>
					</font>
				</li>
				<% end %>
			</ol>
</div>
</div>
<% end %>
