<h1>Comparaison histoire-histoire</h1>

<%= form_tag({controller: "histories", action: "compare2"}, method:"post",
                    class: "nifty_form") do %>
<%= select_tag(:history1_id, options_from_collection_for_select(History.where(approved: true), :id, :title,
 @select1))  %>

<%= select_tag(:history2_id, options_from_collection_for_select(History.all, :id, :title, @select2))  %>

<%= submit_tag 'Texte', class: "btn btn-large btn-primary" %>
<%= submit_tag 'Frise', :name => 'frise_button',class: "btn btn-large btn-primary" %>

<% end %>




<% if @form %>


<% if @frise %>


<h3>Frise</h3>

<div id="doc3" class="yui-t7">
   <div id="bd" role="main">

	   <div class="yui-g">
	     <div id='my-timeline'></div>
	     <p>To move the Timeline: use the mouse scroll wheel, the arrow keys or grab and drag the Timeline.</p>
	   </div> 
	   
	 </div>
   <div id="ft" role="contentinfo">
     <p>Thanks to the <a href=''>Simile Timeline project</a> Timeline version <span id='tl_ver'></span></p>
     <script>Timeline.writeVersion('tl_ver')</script> 
   </div>
</div>

<% else %>

<h3>Résultats comparés</h3>
<table>
	<tr>
		<td>
			<ol>
			<% @result.each do |evt| %>
			   <li>
			   	<font color=<%= evt[:textColor]%>>
				<span>
					<% if evt[:link] %>
                     <%= link_to evt[:title], evt[:link] %>

					<% else %>
						<%= evt[:title] %>
					<% end %>
                </span>			  	
			  	<span><%= evt[:start] ? " | "+evt[:start].strftime("%d %b %Y") : "" %></span>
			  	<span><%= evt[:end] ? " | "+evt[:end].strftime("%d %b %Y") : ""%></span>
			  	<span><%= evt[:place] ? " | "+evt[:place] : "" %></span>
			   </font>
			   </li>
			<% end %>
			</ol>
		</td> 
	</tr>
</table>

<% end %>

<% end %>
