


<h1>Comparaison histoire-histoire</h1>


<%= render 'compareHisHisForm' %>


<% if @result %>
<h3>Les données</h3>
<ul>
<li>Histoire 1 (bleu) : <%= @history1.title %></li>
<li>Histoire 2 (rouge) : <%= @history2.title %></li>
</ul>	


<h3>Résultats comparés</h3>
<table>
	<tr>
		<td>
			<ol>
			<% @result.each do |evt| %>
			   <li>
			   	<font color=<%= evt[:textColor]%>>
			   	<b>
			  <span><%= evt[:start] ? "["+evt[:start].strftime("%d %b %Y")+"]" : "" %></span>
				<span>
					<% if evt[:link] %>
                     <%= link_to evt[:title], evt[:link] %>

					<% else %>
						<%= evt[:title] %>
					<% end %>
                </span>			  	
			  	
			  	<span><%= evt[:end] ? " | "+evt[:end].strftime("%d %b %Y") : ""%></span>
			  	<span><%= evt[:place] ? " | "+evt[:place] : "" %></span>
			  </b>
			  	<p><%= evt[:description] %></p>
			   </font>
			   </li>
			<% end %>
			</ol>
		</td> 
	</tr>
</table>
<% end %>
