<h1>Editing history : <%= @history.title %></h1>



<% if current_user.admin %>
<%= render 'form' %>
<%= render 'body' %>

<%= render 'importevents' %>


<% elsif(!@history.approved && (@history.user_id == current_user.id )) %>

<%= render 'form' %>
<%= render 'body' %>

<% elsif @history.approved %>

<h2>Description</h2>
 <p> <%=  @history.description %> </p>
<%= render 'body' %>

<% end %>






<%= link_to 'Show', @history %> |
<%= link_to 'Back', histories_path %>


