<% provide(:title, "Toutes les Histoires" ) %>
<% provide(:meta_desc, "Toutes les histoires classées par date de modification" ) %>

<h1>Toutes les Histoires validées</h1>

 <p>Il y a <%= @histories.count %> histoires disponibles.</p>

<ol> 
<% @histories.each do |histo| %>
<li>
<b><%= link_to histo.title, histo %> (<%= histo.events.count %>)</b>
<% if signed_admin? %> 
  <%= link_to ' Edit', edit_history_path(histo) %>
  <%= link_to ' | Destroy', histo, confirm: 'Are you sure?', method: :delete %>
<% end %>
<p><%= histo.description %></p>
</li> 
<% end %>
</ol>