
<h1>Toutes les Histoires valides</h1>

    <table>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th></th>
      </tr>
    <% @histories.each do |histo| %>
      <tr>
        <td><%= histo.title %></td>
        <td><%= histo.description %></td>
        <td><%= link_to 'Show', histo %></td>
        <% if signed_admin? %> 
          <td><%= link_to ' | Edit', edit_history_path(histo) %></td>
          <td><%= link_to ' | Destroy', histo, confirm: 'Are you sure?', method: :delete %></td>
        <% end %>

      <% end %>
    </tr>
    </table>