<p id="notice"><%= notice %></p>
<%= link_to '<< Retour', histories_path %>

 <h1><%= @history.title %></h1>   

 <h2> Résumé</h2> 

<p><%= @history.description %></p>


 <% if @history.events.any? %>
  <h2>Évènements (<%= @history.events.count %>)</h2>                 
  <ul>
   <%= render @events %>
  </ul>
 <%= will_paginate @events %>                                     
 <% end %>  
