<p id="notice"><%= notice %></p>
<%= link_to '<< Retour', histories_path %>
<p><a class="btn btn-primary btn-lg" role="button" href= "<%= timeline_history_path(@history)%>" >Frise</a></p>

 <h1><%= @history.title %></h1>   

 <h2> Résumé</h2> 

<p><%= @history.description %></p>


 <% if @history.events.any? %>
  <h2>Évènements (<%= @history.events.count %>)</h2>                 
  <ul>
   <%= render @events %>
  </ul>
  <% end %>    
<div class="pagination">
  <%= will_paginate @events, renderer: BootstrapPagination::Rails, bootstrap: 3   %>
</div>                                 

