<li>
	<b>
<% if event.linked_history_id 	%>
<a href="<%= history_path(event.linked_history_id)%>">
[<%= event.start.strftime("%d %b %Y") %>] <%= event.title %> | Lieu : <%= event.place %>  
	<%= event.end  ? ( event.durationEvent ? "| Fin : " + event.end.strftime("%d/%m/%Y").to_s : "") 
	: "" %> 
</a>
<% else%>
[<%= event.start.strftime("%d %b %Y") %>] <%= event.title %> | Lieu : <%= event.place %>  
	<%= event.end  ? ( event.durationEvent ? "| Fin : " + event.end.strftime("%d/%m/%Y").to_s : "") 
	: "" %> 
<% end %>
</b> 

	 <% if signed_admin? %> 
      <%= link_to '[Edit] ', edit_event_path(event) %>
      <%= link_to '[Destroy]', event, confirm: 'Are you sure?', method: :delete %>
    <% end %>
<p>
<%= event.description %>
</p>
</li>

