<header class="navbar navbar-fixed-top">

 <div class="navbar-inner">
  

  <div class="container">
   <%= link_to "kronofil", root_path, id: "logo" %>
   <nav>
   <ul class="nav pull-right">

    <li id="fat-menu" class="dropdown">
      <a href="#"  class="dropdown-toggle" data-toggle="dropdown">Chronologies<b class="caret"></b></a>
      <ul class="dropdown-menu">
       <li><%= link_to "Toutes les Chronologies", histories_path%></li>
       <li><%= link_to "Comparer",  compare_path%> </li>
      <li><%= link_to "Généalogie",  '#'%> </li>
      </ul>
     </li>

    <li><%= link_to "Évènements", events_path %></li>
    
    <% if signed_in? %>
    <li id="fat-menu" class="dropdown">
      <a href="#"  class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %><b class="caret"></b></a>
      <ul class="dropdown-menu">
       <li><%= link_to "Home Page", root_path %></li>
       <li><%= link_to "Ajouter une Histoire",  new_history_path %> </li>
       <li><%= link_to "Ajouter un Evenement",  new_event_path %> </li>
       <% if signed_admin? %>
        <li><%= link_to "Gérer contributeurs", users_path %></li>
       <% end %>
        <li><%= link_to "Modifier votre profil", edit_user_path(current_user) %></li>
       <li class="divider"></li>
       <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
      </ul>
     </li>

    <% else %>
      <li><%= link_to "Connectez-vous", signin_path %></li>
    <% end %>


    </ul>
   </nav>
  </div>
</div>
</header>

